In [1]:
import requests
import bs4

In [16]:
link ='https://timesofindia.indiatimes.com/education'

In [12]:
res = requests.get(link)

In [17]:
soup =bs4.BeautifulSoup(res.text,'lxml')

In [61]:
toi=soup.select(".main-content")
content=toi[0].findAll("span", {"class" : "w_tle"})
#content=toi[0].findAll("li")
#content[0]

In [70]:
x=content[3]
x

<span class="w_tle"><a hid="9131688464" href="/home/education/news/bhel-releases-engineer-trainee-and-executive-trainee-admit-card-2019-bhel-in/articleshow/69391363.cms" pg="Top News#&gt;Home-Education-News-4-geturl" target="_blank" title="BHEL releases Engineer Trainee and Executive Trainee admit card 2019 @bhel.in">BHEL releases Engineer Trainee and Executive Trainee admit card 2019 @bhel.in</a></span>

In [71]:
x.find('a')['href']

'/home/education/news/bhel-releases-engineer-trainee-and-executive-trainee-admit-card-2019-bhel-in/articleshow/69391363.cms'

In [72]:
x.text

'BHEL releases Engineer Trainee and Executive Trainee admit card 2019 @bhel.in'

In [77]:
def record_url(str):
    url ='https://timesofindia.indiatimes.com'+str
    return url

In [78]:
records=[]
for record in content:
    Heading = record.text
    URL= record_url(record.find('a')['href'])
    
    records.append((Heading,URL))

AttributeError: 'list' object has no attribute 'head'

In [ ]:

#def record_date(x):
 #   z=x[0].text
 #   date=z[:10]
 #   return date
#def record_time(x):
  #  z=x[0].text
  #  time=z[11:-1]
  #  return time 
#def record_URL(x):
#   y='https://timesofindia.indiatimes.com'
  #  url = y+x 
    # return url

In [ ]:
#records=[]
#for record in toi:
  #  Heading = record.find('span').text[1:-1]
  #  URL = record_URL(record.find('a')['href'])
    
  #  span=record.find_all("span",{"class" : "meta"})
  #  date = record_date(span)
  #  time = record_time(span)
  #  records.append((Heading,date,time,URL))

In [ ]:
#records[0]

In [81]:
import pandas as pd
df=pd.DataFrame(records,columns=['Heading','URL'])

In [ ]:
#df['Date'] = pd.to_datetime(df['Date'])

In [82]:
df.head()

,Heading,URL
0,FCI admit card 2019 released for various posts...,https://timesofindia.indiatimes.com/home/educa...
1,UP B.Ed JEE result 2019 to be announced soon @...,https://timesofindia.indiatimes.com/home/educa...
2,NIOS D.El.Ed. 4th Semester 2019 results to be ...,https://timesofindia.indiatimes.com/home/educa...
3,BHEL releases Engineer Trainee and Executive T...,https://timesofindia.indiatimes.com/home/educa...
4,Indian Navy SSC officer recruitment 2019: Appl...,https://timesofindia.indiatimes.com/home/educa...

In [84]:
df.to_csv('TOI_education.csv',index=False,encoding='utf-8')