In [1]:
import os
import glob
import pandas as pd
import warnings

In [2]:
import datetime

now = datetime.datetime.now()


Today_time = now.strftime("%H:%M")

Today_date = now.strftime("%Y-%m-%d")

In [3]:

%run ./NDTV_Cities.ipynb
%run ./Times_of_India_Cities.ipynb
%run ./Hindustan_Times_Cities.ipynb
%run ./Indian_Express_Cities.ipynb
%run ./The_Hindu_Cities.ipynb
#%run ./India_Today_Sports_more.ipynb
#%run ./India_Times_Entertainment_more.ipynb

In [4]:
extension = 'csv'
string = 'CSV/'+Today_date+'/*.{}'
all_filenames = [i for i in glob.glob(string.format(extension))]

In [5]:
all_filenames

['CSV/2019-06-14\\HT_cities-2019-06-14.csv',
 'CSV/2019-06-14\\IE_cities-2019-06-14.csv',
 'CSV/2019-06-14\\NDTV_cities-2019-06-14.csv',
 'CSV/2019-06-14\\TH_cities-2019-06-14.csv',
 'CSV/2019-06-14\\TOI_cities-2019-06-14.csv']

In [6]:
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])

In [7]:
outname = 'combined_cities-'+str(Today_date)+'.csv'
root = 'Combined CSV/'
if not os.path.exists(root):
    os.mkdir(root)
#date_today= Today_date +'\ '
outdir=root
if not os.path.exists(outdir):
    os.mkdir(outdir)
fullname = os.path.join(outdir, outname)

In [8]:
combined_csv.to_csv(fullname, index=False, encoding='utf-8')

In [9]:
df = pd.read_csv(fullname)

In [10]:
cat = ['agra news', 'ahmedabad news', 'allahabad news', 'amritsar news',
       'aurangabad news', 'bengaluru news', 'bhopal news',
       'bhubaneshwar news', 'chandigarh news', 'chennai news',
       'delhi news', 'ghaziabad news', 'goa news', 'gurgaon news',
       'guwahati news', 'hyderabad news', 'jaipur news', 'jammu news',
       'kanpur news', 'kolkata news', 'lucknow news', 'ludhiana news',
       'meerut news', 'mumbai news', 'muzaffarnagar news',
       'muzaffarpur news', 'nagpur news', 'noida news', 'others',
       'patna news', 'pune news', 'srinagar news', 'surat news',
       'thiruvananthapuram news']

In [11]:
def fix_cat(x):
    if x not in cat:
        return 'others'
    else:
        return x
    
df['Category']=df['Category'].apply(fix_cat)

In [12]:
df['Category']=df['Category'].apply(fix_cat)

In [13]:
z = df['Category'].value_counts()
low_z = z.loc[z<20].index

In [14]:
def fix_cat2(x):
    if x in low_z:
        return 'others'
    elif(x=='cities'):
        return 'others'
    else:
        return x
    
df['Category']=df['Category'].apply(fix_cat2)

In [16]:
df['Category'].value_counts()

others                     378
delhi news                 125
kolkata news               125
mumbai news                125
bengaluru news             113
jaipur news                104
pune news                  104
lucknow news               103
chandigarh news             98
patna news                  92
noida news                  89
chennai news                72
hyderabad news              60
thiruvananthapuram news     55
ahmedabad news              51
goa news                    38
nagpur news                 38
bhopal news                 37
gurgaon news                37
kanpur news                 36
srinagar news               35
jammu news                  35
ghaziabad news              35
aurangabad news             35
surat news                  35
meerut news                 35
amritsar news               35
ludhiana news               34
allahabad news              33
guwahati news               33
agra news                   32
Name: Category, dtype: int64

In [17]:
outname = 'combined_cities-'+str(Today_date)+'.csv'
root = 'Combined CSV/'
if not os.path.exists(root):
    os.mkdir(root)
#date_today= Today_date +'\ '
outdir=root
if not os.path.exists(outdir):
    os.mkdir(outdir)
fullname = os.path.join(outdir, outname)

In [18]:
df.to_csv(fullname, index=False, encoding='utf-8')