In [1]:
import requests
import bs4
import pandas as pd
import numpy as np
import os
import calendar

In [2]:
import datetime

now = datetime.datetime.now()


Today_time = now.strftime("%H:%M")

Today_date = now.strftime("%Y-%m-%d")

In [3]:
link = 'https://www.ndtv.com/cities'

In [4]:
res = requests.get(link)
soup = bs4.BeautifulSoup(res.text,'lxml')

In [5]:
div = soup.select('.extradropdown')[0]

In [6]:
List = div.findAll('option')

In [7]:
def fix_date(p):
    if(p=='January'):
        return 'Jan'
    elif(p=='February'):
        return 'Feb'
    elif(p=='March'):
        return 'Mar'
    elif(p=='April'):
        return 'Apr'
    elif(p=='May'):
        return 'May'
    elif(p=='June'):
        return 'Jun'
    elif(p=='July'):
        return 'Jul'
    elif(p=='August'):
        return 'Aug'
    elif(p=='September'):
        return 'Sep'
    elif(p=='October'):
        return 'Oct'
    elif(p=='November'):
        return 'Nov'
    elif(p=='Dececmber'):
        return 'Dec'

In [8]:
def record_date_time(z):
    x= str.split(z,'|')[1]
    z= str.split(x)
    
    time = Today_time
    z[1] = fix_date(z[1])
    date= z[1]+' '+z[2]+' '+z[3]
    
    #date = date[:-1]
    return date,time

def record_URL(x):
    y='https://www.ndtv.com/'
    url = y+x 
    return url

In [9]:
records = []
for content in List:
    url = record_URL(content['value'])
    category = content.text.lower()
    if(category == 'select your option here'):
        category = 'cities'
        res = requests.get('https://www.ndtv.com/cities')
        soup = bs4.BeautifulSoup(res.text,'lxml')
        maincontent = soup.select('.new_storylising_contentwrap')[0].findAll('li')
    else:
        res = requests.get(url)
        soup = bs4.BeautifulSoup(res.text,'lxml')
        maincontent = soup.select('.new_storylising')[0].findAll('li')
         
    
    for record in maincontent:
        try:
            datetime = record.find('div',{'class':'nstory_dateline'}).text

            URL = record.find('a')['href']
            Heading = record.find('a')['title']
            Date,Time = record_date_time(datetime)
            Category = category
            Source = 'NDTV'
            records.append((Source,Heading,Category,Date,Time,URL))
        except:
            continue

In [10]:
import pandas as pd
df=pd.DataFrame(records,columns=['Source','Heading','Category','Date','Time','URL'])
df['Date'] = pd.to_datetime(df['Date'])

In [11]:
df['Category'].value_counts()

others                     15
surat news                 15
srinagar news              15
jaipur news                15
delhi news                 15
ahmedabad news             15
bhopal news                15
mumbai news                15
gurgaon news               15
patna news                 15
muzaffarnagar news         15
ghaziabad news             15
nagpur news                15
hyderabad news             15
chennai news               15
jammu news                 15
meerut news                15
bengaluru news             15
bhubaneshwar news          15
amritsar news              15
kolkata news               15
goa news                   15
pune news                  15
noida news                 14
ludhiana news              14
lucknow news               14
kanpur news                13
guwahati news              13
thiruvananthapuram news    13
aurangabad news            13
agra news                  12
muzaffarpur news           11
allahabad news             11
chandigarh news             9
Name: Category, dtype: int64

In [12]:
df.head()

,Source,Heading,Category,Date,Time,URL
0,NDTV,Visiting Taj Mahal? Pay Fine If You Spend More...,agra news,2019-06-12,23:26,https://www.ndtv.com/agra-news/agra-for-taj-ma...
1,NDTV,"Man Arrested For Allegedly Giving ""Triple <i>T...",agra news,2019-06-12,23:26,https://www.ndtv.com/agra-news/man-arrested-fo...
2,NDTV,Panic Buttons To Be Installed At Major Spots I...,agra news,2019-06-05,23:26,https://www.ndtv.com/agra-news/agra-panic-butt...
3,NDTV,"Woman Allegedly Poisons Husband, He Blames Her...",agra news,2019-05-12,23:26,https://www.ndtv.com/agra-news/woman-laces-hus...
4,NDTV,Schools To Shut Early As Temperatures In Agra ...,agra news,2019-05-01,23:26,https://www.ndtv.com/agra-news/taj-city-agra-s...

In [13]:
df['Category'].value_counts()

others                     15
surat news                 15
srinagar news              15
jaipur news                15
delhi news                 15
ahmedabad news             15
bhopal news                15
mumbai news                15
gurgaon news               15
patna news                 15
muzaffarnagar news         15
ghaziabad news             15
nagpur news                15
hyderabad news             15
chennai news               15
jammu news                 15
meerut news                15
bengaluru news             15
bhubaneshwar news          15
amritsar news              15
kolkata news               15
goa news                   15
pune news                  15
noida news                 14
ludhiana news              14
lucknow news               14
kanpur news                13
guwahati news              13
thiruvananthapuram news    13
aurangabad news            13
agra news                  12
muzaffarpur news           11
allahabad news             11
chandigarh news             9
Name: Category, dtype: int64

In [14]:
outname ='NDTV_cities-'+str(Today_date)+'.csv'

root = 'CSV/'
if not os.path.exists(root):
    os.mkdir(root)
date_today= Today_date +'/'
outdir=root+ date_today[:-1]
if not os.path.exists(outdir):
    os.mkdir(outdir)
fullname = os.path.join(outdir, outname)

In [15]:
fullname

'CSV/2019-06-12\\NDTV_cities-2019-06-12.csv'

In [16]:
df.to_csv(fullname,index=False,encoding='utf-8')